@import 'compass'

body 
  background: #fafafa
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  color: #333

.body-content
  .col
    padding: 0
    margin: 0
    line-height: auto

.innerpanel
  position: relative
  top: 0
  left: 0
  bottom: 0
  background: #F90
  width: 100%
  height: 100%

.ui-video
  width: 100%
  height: auto
  min-height: 315px